
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the application */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}


/* Ensure Tailwind's container is centered */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
